<head>
    <style>
        boxs {
        box-sizing: border-box;
        }

        main {
            margin-left: 200px;
            padding-left: 20px;
            font-family: sans-serif;
            font-size:x-large;
        }
    </style>
    <title> Mobasery library Books</title>
</head>

<body>
    <main>
        <h1> images </h1>
        <table>
            <tbody>
                <tr>
                    <td> <a href="/images/1"> <img src="/images/book1.jpg" width="200px"></a></td>
                    <td> <a href="/images/2"> <img src="/images/book2.jpg" width="200px"></a></td>
                    <td> <a href="/images/3"> <img src="/images/book3.jpg" width="200px"></a></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>